####### 读取文件

In [1]:
import pandas as pd
import numpy as np
path = r"D:\a_task\t5_obd_hbase_final_code\data_west\sources\2019-12-09\00\gpd_west_east1576131441.csv"
df = pd.read_csv(path,delimiter=",",encoding="utf-8",header=0)

####### df 属性

In [2]:
df.head(5)
#df.tail(5)

,vid,gDate,lat,lng,speed,downScrSensorOutput,sensorInputQuantity,engineFuelFlow,engineRotation,outputTorqueOfEngine,roadId
0,10298,2019/12/9 0:00,39.918091,116.350248,63.890,106.70,217.0,8.6,1342.5,44.0,128488608
1,1083,2019/12/9 0:00,39.925553,116.367097,34.304,-2.40,NaN,NaN,NaN,-9.0,156465481
2,11809,NaN,39.947573,116.399417,72.312,162.15,213.6,7.9,1524.0,30.0,103140413
3,12514,2019/12/9 0:00,39.937772,116.341798,NaN,655.35,NaN,NaN,NaN,NaN,60500535
4,12919,NaN,39.945062,116.360563,5.437,3012.75,88.7,1.2,1057.5,125.0,59189091

In [3]:
print("df.index:\n",df.index)
print("取出index:\n",df.index.values)
print("df.dtypes:\n",df.dtypes)
print("维度df.ndim:\n",df.ndim)
print("df.shape:\n",df.shape)
print("判断为空df.empty:\n",df.empty)

df.index:
 RangeIndex(start=0, stop=122070, step=1)
取出index:
 [     0      1      2 ... 122067 122068 122069]
df.dtypes:
 vid                       int64
gDate                    object
lat                     float64
lng                     float64
speed                   float64
downScrSensorOutput     float64
sensorInputQuantity     float64
engineFuelFlow          float64
engineRotation          float64
outputTorqueOfEngine    float64
roadId                    int64
dtype: object
维度df.ndim:
 2
df.shape:
 (122070, 11)
判断为空df.empty:
 False

In [4]:
####### df.astype 改字段属性

In [5]:
df = df.astype({"downScrSensorOutput":"str"})#必须有变量接受
 
print(df.dtypes)

vid                       int64
gDate                    object
lat                     float64
lng                     float64
speed                   float64
downScrSensorOutput      object
sensorInputQuantity     float64
engineFuelFlow          float64
engineRotation          float64
outputTorqueOfEngine    float64
roadId                    int64
dtype: object

####### df.copy() 深度拷贝 ，在查询筛选出来的数据 做修改删除时，最好做深度拷贝，否则报错

In [6]:
df2 = df["speed"]
df2[df2>60]=None
print(df2.head(5))

0       NaN
1    34.304
2       NaN
3       NaN
4     5.437
Name: speed, dtype: float64

C:\Users\YSRD-B-0048\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# df常用的统计

In [7]:
print("缺失数统计:\n",type(df.count()),"\n",122070-df.count())
print("df.sum()")

缺失数统计:
 <class 'pandas.core.series.Series'>
 vid                         0
gDate                       5
lat                         0
lng                         0
speed                   87825
downScrSensorOutput         0
sensorInputQuantity     16222
engineFuelFlow          19434
engineRotation          16199
outputTorqueOfEngine    23046
roadId                      0
dtype: int64
df.sum()

### df常用的查询赛选数据
"通常我们都要从df 中筛选出自己想要的数据
常用方法
df[(df["字段名"]>0)&(df["字段名"]<10)]
df.query()
df.loc"

##### 1、df[(df["speed"]>0) & (df["speed"]<10)] 逻辑判断必须有（）

In [8]:
df_s = df[(df["speed"]>0) & (df["speed"]<10)]## 
print(df_s.head(2))

     vid           gDate        lat         lng  speed downScrSensorOutput  \
4  12919             NaN  39.945062  116.360563  5.437             3012.75
9  16226  2019/12/9 0:00  39.957245  116.401703  3.500               120.6

   sensorInputQuantity  engineFuelFlow  engineRotation  outputTorqueOfEngine  \
4                 88.7             1.2          1057.5                 125.0
9                 38.4             0.9           775.0                   NaN

      roadId
4   59189091
9  175425324

##### 2、df.loc 最常用

In [9]:
print("df.loc[行，列]")
df_s2 = df.loc[2:10,["speed","gDate"]]
df_s2.head(2)

df.loc[行，列]

   speed           gDate
2    NaN             NaN
3    NaN  2019/12/9 0:00

In [10]:
print("df.loc筛选1：")
df_s3 = df.loc[(df["speed"]<10)&(df["speed"]>8),:]
df_s3.head(2)

df.loc筛选1：

,vid,gDate,lat,lng,speed,downScrSensorOutput,sensorInputQuantity,engineFuelFlow,engineRotation,outputTorqueOfEngine,roadId
63,7269,2019/12/9 0:00,39.898920,116.393627,9.414,655.35,161.60,7.75,1178.5,42.0,194280218
147,17233,2019/12/9 0:00,39.890655,116.395241,9.500,139.6,41.25,0.55,769.5,NaN,240331155

In [11]:


print("df.loc筛选2：花样嵌套,里面可以嵌套各种判断表达式")
df_s4 = df.loc[df.loc[:,"speed"]<3,:]
df_s4.head(2)

df.loc筛选2：花样嵌套,里面可以嵌套各种判断表达式

,vid,gDate,lat,lng,speed,downScrSensorOutput,sensorInputQuantity,engineFuelFlow,engineRotation,outputTorqueOfEngine,roadId
159,25875,2019/12/9 0:00,39.944055,116.400776,1.593,299.9,74.50,0.65,752.250,NaN,30802810
183,18511,2019/12/9 0:00,39.889880,116.429146,2.500,655.35,39.35,0.90,843.375,-2.0,107129591

##### df.iloc 少用  df.iloc[行索引，列索引]

In [12]:
print("索引切片")
df_is = df.iloc[1:2,2:4]
df_is.head(2)

索引切片

         lat         lng
1  39.925553  116.367097

In [13]:
print("索引列举必须有中括号")
df_is2 = df.iloc[[1,2],[2,4]]
df_is2.head(2)

索引列举必须有中括号

         lat   speed
1  39.925553  34.304
2  39.947573     NaN

##### df.ix  是 df.loc与  df.iloc混用(不支持这么干)

In [14]:
df_ix = df.ix[(df["speed"]<10),["speed","gDate"]]
df_ix.head(2)

C:\Users\YSRD-B-0048\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\YSRD-B-0048\Anaconda3\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

   speed           gDate
4  5.437             NaN
9  3.500  2019/12/9 0:00

##### df.query查询筛选

In [15]:
print("df.query('字段名>2'),是直接写字段名哦")
df_q = df.query("(speed>2)&(speed<4)")
df_q.head(2)

df.query('字段名>2'),是直接写字段名哦

,vid,gDate,lat,lng,speed,downScrSensorOutput,sensorInputQuantity,engineFuelFlow,engineRotation,outputTorqueOfEngine,roadId
9,16226,2019/12/9 0:00,39.957245,116.401703,3.500,120.6,38.4,0.9,775.0,NaN,175425324
46,18511,2019/12/9 0:00,39.889880,116.429146,3.398,655.35,38.9,1.0,766.0,NaN,107129591

# 修改

###### 异常值修改填充
##### df 修改数据，数据查出来了，就需要

In [16]:
df_s = df.loc[0:10,["speed","lng","lat","gDate"]]
df_s.head(10)

    speed         lng        lat           gDate
0     NaN  116.350248  39.918091  2019/12/9 0:00
1  34.304  116.367097  39.925553  2019/12/9 0:00
2     NaN  116.399417  39.947573             NaN
3     NaN  116.341798  39.937772  2019/12/9 0:00
4   5.437  116.360563  39.945062             NaN
5     NaN  116.425893  39.920667  2019/12/9 0:00
6     NaN  116.367585  39.931162             NaN
7     NaN  116.339233  39.911876  2019/12/9 0:00
8     NaN  116.421625  39.892520             NaN
9   3.500  116.401703  39.957245  2019/12/9 0:00

In [17]:
df_s[df_s["lng"]<116.36]=None
df_s.head(10)

    speed         lng        lat           gDate
0     NaN         NaN        NaN            None
1  34.304  116.367097  39.925553  2019/12/9 0:00
2     NaN  116.399417  39.947573             NaN
3     NaN         NaN        NaN            None
4   5.437  116.360563  39.945062             NaN
5     NaN  116.425893  39.920667  2019/12/9 0:00
6     NaN  116.367585  39.931162             NaN
7     NaN         NaN        NaN            None
8     NaN  116.421625  39.892520             NaN
9   3.500  116.401703  39.957245  2019/12/9 0:00

###### 修改None值 填充

In [18]:
df_s2 = df_s.fillna(999)
df_s2.head(10)

     speed         lng         lat           gDate
0  999.000  999.000000  999.000000             999
1   34.304  116.367097   39.925553  2019/12/9 0:00
2  999.000  116.399417   39.947573             999
3  999.000  999.000000  999.000000             999
4    5.437  116.360563   39.945062             999
5  999.000  116.425893   39.920667  2019/12/9 0:00
6  999.000  116.367585   39.931162             999
7  999.000  999.000000  999.000000             999
8  999.000  116.421625   39.892520             999
9    3.500  116.401703   39.957245  2019/12/9 0:00

##### 修改符合条件的值

In [19]:
df_s[df_s["speed"]<1000]=999
df_s.head()

   speed         lng         lat gDate
0    NaN         NaN         NaN  None
1  999.0  999.000000  999.000000   999
2    NaN  116.399417   39.947573   NaN
3    NaN         NaN         NaN  None
4  999.0  999.000000  999.000000   999

##### df.where 修改值

In [20]:
#Series.where(cond, other=nan, inplace=False, axis=None, level=None, errors=‘raise’, try_cast=False, raise_on_error=None)
#如果 cond 为真，保持原来的值，否则替换为other， inplace为真标识在原数据上操作"""

In [21]:
df_snull = df_s.where(df_s.notnull(),"")
print(df_snull.head(2))
df_snull = df_s.where(df_s.notnull(),22)
df_snull.head(2)

  speed  lng  lat gDate
0
1   999  999  999   999

   speed    lng    lat gDate
0   22.0   22.0   22.0    22
1  999.0  999.0  999.0   999

###### df.rename修改字段

In [22]:
df_s = df_s.rename({"lat":"new_lat"},axis='columns')
print(df_s.columns)
print("备注：axis='columns'不能少")

Index(['speed', 'lng', 'new_lat', 'gDate'], dtype='object')
备注：axis='columns'不能少

##### df.astype修改字段类型

In [23]:
df_snull = df_snull.astype({"lng":"int64"})
print(df_snull.dtypes)
df_snull["lng"]=df_snull["lng"].astype("float64")
print(df_snull.dtypes)

speed    float64
lng        int64
lat      float64
gDate     object
dtype: object
speed    float64
lng      float64
lat      float64
gDate     object
dtype: object

# 删除

In [24]:
drop_df = df_s.copy()
drop_df.head()

   speed         lng     new_lat gDate
0    NaN         NaN         NaN  None
1  999.0  999.000000  999.000000   999
2    NaN  116.399417   39.947573   NaN
3    NaN         NaN         NaN  None
4  999.0  999.000000  999.000000   999

In [25]:
####### 删除列 drop(["gDate"])

In [26]:
drop_a = drop_df.drop(["gDate","lng"],axis=1)
drop_a.head()

   speed     new_lat
0    NaN         NaN
1  999.0  999.000000
2    NaN   39.947573
3    NaN         NaN
4  999.0  999.000000

In [27]:
###### 删除行

In [28]:
drop_b = drop_df.drop([1,2],axis=0)
drop_b.head()

   speed         lng     new_lat           gDate
0    NaN         NaN         NaN            None
3    NaN         NaN         NaN            None
4  999.0  999.000000  999.000000             999
5    NaN  116.425893   39.920667  2019/12/9 0:00
6    NaN  116.367585   39.931162             NaN

# 合并 （concat纵向合并，join\merge横向拼接）

######  concat合并
"""
pd.concat(objs, axis=0, join='outer', join_axes=None, 
          ignore_index=False, keys=None, levels=None,
          names=None, verify_integrity=False, copy=True)
axis = 0 :表示按行合并
axis=1：表示按列合并          
concat 按行合并：join='outer'\inner 没区别
concat 按列合并 join='outer':显示全部索引行，没有以nan代替，相同字段不会被去重
                 join='inner':显示公共索引行， 相同字段不会被去重 

"""

In [29]:
######## 按行 合并

In [30]:


df_1= df_s[0:3]
df_2= df_s[3:7]
print(df_1)
print(df_2)
print("*"*100)
print("concat 纵向合并：")
df_con = pd.concat([df_1,df_2],axis=0)
print(df_con)
print("*"*100)
print("concat 纵向合并：join='inner'")
df_con = pd.concat([df_1,df_2],axis=0,join="inner")
print(df_con)
print("*"*100)

   speed         lng     new_lat gDate
0    NaN         NaN         NaN  None
1  999.0  999.000000  999.000000   999
2    NaN  116.399417   39.947573   NaN
   speed         lng     new_lat           gDate
3    NaN         NaN         NaN            None
4  999.0  999.000000  999.000000             999
5    NaN  116.425893   39.920667  2019/12/9 0:00
6    NaN  116.367585   39.931162             NaN
****************************************************************************************************
concat 纵向合并：
   speed         lng     new_lat           gDate
0    NaN         NaN         NaN            None
1  999.0  999.000000  999.000000             999
2    NaN  116.399417   39.947573             NaN
3    NaN         NaN         NaN            None
4  999.0  999.000000  999.000000             999
5    NaN  116.425893   39.920667  2019/12/9 0:00
6    NaN  116.367585   39.931162             NaN
****************************************************************************************************
concat 纵向合并：join='inner'
   speed         lng     new_lat           gDate
0    NaN         NaN         NaN            None
1  999.0  999.000000  999.000000             999
2    NaN  116.399417   39.947573             NaN
3    NaN         NaN         NaN            None
4  999.0  999.000000  999.000000             999
5    NaN  116.425893   39.920667  2019/12/9 0:00
6    NaN  116.367585   39.931162             NaN
****************************************************************************************************

### 按列合并 \n

#按行合并：实质就是 按索引合并,平时合并两个df,通常不是按索引，而是按共同的字段，这就是join缺陷
#索引重置
#df_2 = df_2.reset_index(drop=True)

In [31]:
print("concat 横向拼接：以索引为基准作为横向拼接")

df_1= df_s[0:3]

df_2= df_s[3:7]
df_2 = df_2.reset_index(drop=True)
print(df_2)
df_concat_join=pd.concat([df_1,df_2],join="inner",axis=1)
df_concat_join

concat 横向拼接：以索引为基准作为横向拼接
   speed         lng     new_lat           gDate
0    NaN         NaN         NaN            None
1  999.0  999.000000  999.000000             999
2    NaN  116.425893   39.920667  2019/12/9 0:00
3    NaN  116.367585   39.931162             NaN

,speed,lng,new_lat,gDate,speed,lng,new_lat,gDate
0,NaN,NaN,NaN,None,NaN,NaN,NaN,None
1,999.0,999.000000,999.000000,999,999.0,999.000000,999.000000,999
2,NaN,116.399417,39.947573,NaN,NaN,116.425893,39.920667,2019/12/9 0:00

# Meger 按行合并
#作为连接的键最好不好重复
#有异常值 NaN,每一个NaN都是不相等的

In [32]:
#pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
#         left_index=False, right_index=False, sort=True,
#         suffixes=('_x', '_y'), copy=True, indicator=False,
#        validate=None)
#

In [33]:
df_1= df_s[0:3]
df_2= df_s[3:7]
df_2=df_2.reset_index(drop=True)
print(df_1)
print(df_2)
print("***********两种写法***********************")
print(""" df_1.merge(df_2,
pd.merge(df_1,df_2,""")
df_merge = df_1.merge(df_2,how="left",on="speed")#how="left",on="speed" 可以合并写  left_on
df_merge2 = pd.merge(df_1,df_2,how="left",on="speed")#how="left",on="speed" 可以合并写  left_on
df_merge.head(10)

   speed         lng     new_lat gDate
0    NaN         NaN         NaN  None
1  999.0  999.000000  999.000000   999
2    NaN  116.399417   39.947573   NaN
   speed         lng     new_lat           gDate
0    NaN         NaN         NaN            None
1  999.0  999.000000  999.000000             999
2    NaN  116.425893   39.920667  2019/12/9 0:00
3    NaN  116.367585   39.931162             NaN
***********两种写法***********************
 df_1.merge(df_2,
pd.merge(df_1,df_2,

,speed,lng_x,new_lat_x,gDate_x,lng_y,new_lat_y,gDate_y
0,NaN,NaN,NaN,None,NaN,NaN,None
1,NaN,NaN,NaN,None,116.425893,39.920667,2019/12/9 0:00
2,NaN,NaN,NaN,None,116.367585,39.931162,NaN
3,999.0,999.000000,999.000000,999,999.000000,999.000000,999
4,NaN,116.399417,39.947573,NaN,NaN,NaN,None
5,NaN,116.399417,39.947573,NaN,116.425893,39.920667,2019/12/9 0:00
6,NaN,116.399417,39.947573,NaN,116.367585,39.931162,NaN

In [34]:
df_1= df_s.loc[0:3,["speed","lng"]].copy()
df_1["name"]=["张三","李四","王五","赵二"]
df_2= df_s.loc[3:7,["speed","new_lat"]].copy()
df_2["name"]=np.array(["张三","李四","王五","赵二","哇",])
df_1["speed"]=df_1["speed"].fillna(22)
df_2["speed"]=df_2["speed"].fillna(22)
df_2=df_2.reset_index(drop=True)
print(df_1)
print(df_2)
df_merge = pd.merge(df_1,df_2,how="inner",on="name")
df_merge.head(20)

   speed         lng name
0   22.0         NaN   张三
1  999.0  999.000000   李四
2   22.0  116.399417   王五
3   22.0         NaN   赵二
   speed     new_lat name
0   22.0         NaN   张三
1  999.0  999.000000   李四
2   22.0   39.920667   王五
3   22.0   39.931162   赵二
4   22.0         NaN    哇

   speed_x         lng name  speed_y     new_lat
0     22.0         NaN   张三     22.0         NaN
1    999.0  999.000000   李四    999.0  999.000000
2     22.0  116.399417   王五     22.0   39.920667
3     22.0         NaN   赵二     22.0   39.931162

# df.groupby ()分组统计

In [35]:
df_s["speed"]=df_s["speed"].fillna(22)

#### 计算所有字段的均值,as_index 默认True，会把参考字段作为索引

In [36]:
df_g = df_s.groupby(by='speed',as_index=False).mean()#均值计算 不统计 NaN个数
df_g

   speed        lng     new_lat
0   22.0  116.40363   39.922981
1  999.0  999.00000  999.000000

##### 对指定字段作 均值统计

In [37]:

df_g = df_s.groupby(by='speed',as_index=False)["lng","new_lat"].mean()
df_g

   speed        lng     new_lat
0   22.0  116.40363   39.922981
1  999.0  999.00000  999.000000

##### 对不同字段 用不同的  统计函数

In [38]:

df_g = df_s.groupby(by='speed',as_index=False).agg({"lng":[np.mean,np.sum],
                                                    
                                                   "new_lat":np.sum})
df_g

   speed        lng                  new_lat
               mean         sum          sum
0   22.0  116.40363   465.61452   159.691922
1  999.0  999.00000  3996.00000  3996.000000

In [39]:
#修改字段
df_g.columns=["1","2","3","4"]
df_g

       1          2           3            4
0   22.0  116.40363   465.61452   159.691922
1  999.0  999.00000  3996.00000  3996.000000

##### 对不同字段 用不同的求和函数  , 对不统计的字段保留唯一值、或者最后\首要值

In [40]:
df_g = df_s.groupby(by='speed',as_index=False).agg({"lng":[np.mean,np.sum],
                                                    
                                                   "new_lat":np.sum,
                                                   "gDate": 'last'
                                                   },#"gDate": pd.Series.unique
                                                  )
df_g

   speed        lng                  new_lat  gDate
               mean         sum          sum   last
0   22.0  116.40363   465.61452   159.691922    NaN
1  999.0  999.00000  3996.00000  3996.000000  999.0

# df.apply 使用 主要用于对某些字段值作复杂逻辑处理

In [48]:
import types
df_s2 = df_s.copy()
print(type(df_s2["new_lat"][0]))
print(df_s2["new_lat"][0])
print(type(np.nan))
def appro(x):
    if x==np.nan:
        x=100
     
    return x
        
df_s2["new_lat"]=df_s2["new_lat"].apply(lambda x:appro(x))
df_s2 = df_s2.drop(["lng"],axis=1)
# df_s2 = df_s2.dropna()
df_s2

<class 'numpy.float64'>
nan
<class 'float'>

    speed     new_lat           gDate
0    22.0         NaN            None
1   999.0  999.000000             999
2    22.0   39.947573             NaN
3    22.0         NaN            None
4   999.0  999.000000             999
5    22.0   39.920667  2019/12/9 0:00
6    22.0   39.931162             NaN
7    22.0         NaN            None
8    22.0   39.892520             NaN
9   999.0  999.000000             999
10  999.0  999.000000             999